<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cout</title>
    <style>
        body{
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <div>
        <h1>Posts by {{ request.session.first_name }}!</h1>
        <h1>Count: {{ quote }}</h1>
        {% for quote in quotes %}
        <br>{{quote.title}}: {{quote.description}}<br>
        {% endfor %}
    </div>    
    <form method='post' action="/logout">
        {% csrf_token %}
        <button type="submit" value='submit' id="logout" >Logout</button>
        <button type="submit"><a href="/quotes">Dashboard</button>
    </form>
</body>
</html>