<html lang="en">
    <head>
        <title>Document</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content= "ie=edge">
        <style>
            p{
                color: red;
            }
            body{
                display: flex;
                justify-content: space-between;
            }
        </style>
    </head>
<body>
    <div>
        
        <h2>Edit Quote</h2>
        <form action="/update/{{user.id}}" method="POST">
            {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
            {% csrf_token %}
            <br> Quotes By: <input type="text" value='{{ quote.title }}'  name="title"><br>
            <br>Message: <textarea type="text" value='{{ quote.description }}' name="description"></textarea><br>
            <input type="hidden" value="{{quote.id}}" name="quote_id">
            <br><input type="submit"><br>
            <a href="/">cancel</a>
        </form>
    </div>  
    <div>
        <form method='post' action="/logout">
            {% csrf_token %}
            <button type="submit" value='submit' id="logout" >Logout</button>
            <button type="submit"><a href="/quotes">Dashboard</button>
        </form> 
    </div>                     
</body> 
</html>