<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content= "ie=edge">
        <style>
            #wrapper{
            background-color: pink;
            }
            p{
                color: red;
            }
            h3{
                color: green;
            }
            #footer{
                display: flex;
                justify-content: center;
                color: red;
            }
            body{
                background: pink;
            }
        </style>
    </head>
<body>
    <di id="wrapper">
        <h4> Welcome, {{request.session.first_name }}!</h4>
        <div>
            <h3>Pickleball APP</h3>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            <div id="footer">
            <form action="/display" method="POST">
                <h2>Contribute a Game</h2>
                {% csrf_token %}
                <br> Quotes By: <input type="text" name="title"><br>
                <br>Message: <textarea  name="description"></textarea><br>
                <input type="hidden" name='user_id' value="{{ user.id }}">
                <br><input type="submit"><br>
            </form>
            </div>
            <div>
            <h2>Game Added</h2>
            {% for quote in quotes %}
            <button type="submit"><a href="/edit/{{quote.id}}">Edit</a></button><br>
            <form action="/delete" method='POST'>
                {% csrf_token %}
                <input type="hidden" name='quote_id' value="{{ quote.id }}">
                <br><button type="submit">delete</button>
            </form>
            </div>
            <form action="/users/{{quote.id}}" method="POST">
                {% csrf_token %}
                <br>{{quote.title}}: {{quote.description}}<br>
                <h3>Posted By <button type="submit"><a href="/users/{{quote.id}}">{{request.session.first_name}}</button></h3>
                <input type="hidden" value="{{user.id}}" name="user_id">    
            </form> 
            {% endfor %}
        </div>
        <form method='post' action="/logout">
            {% csrf_token %}
            <button type="submit" value='submit' id="logout" >Logout</button>
        </form>
    </di>
</body> 
</html>

<!-- <form action="/users/{{user.id}}" method="POST">
    {% csrf_token %}
    <br>{{quote.title}}: {{quote.description}}<br>
    <h3>Posted By <button type="submit"><a href="/users/{{user.id}}">{{request.session.first_name}}</button></h3>
    <input type="hidden" value="{{user.id}}" name="user_id">    
</form> -->