<!DOCTYPE html>
<html lang="en">
    <style>
        li{
            color: red;
        }
        body{
            background: MintCream;
            opacity: 1;
        }
        #wrapper{
            display: flex;
            justify-content: space-around; 
        }
    </style>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content= "ie=edge">
    </head>
<body>
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    <div id="wrapper">
    <h1>Register Here</h1>
    <form action="/users/register" method="POST">
        {% csrf_token %}
        <br>First Name : <input type="text" name="first_name"><br>
        <br>Last Name : <input type="text" name="last_name"><br>
        <br>Email : <input type="text" name="email"><br>
        <br>Password : <input type="password" name="password"><br>
        <br>Confirm Password: <input type="password" name="confirm_password"><br>
        <input type="submit">
    </form>
    <h1>login Here</h1>
    <form action="/users/login" method="POST">
        {% csrf_token %}
        <br>First Name : <input type="text" name="first_name"><br>
        <br>Last Name : <input type="text" name="last_name"><br>
        <br>Email : <input type="text" name="email"><br>
        <br>Password : <input type="password" name="password"><br>
        <input type="submit">
    </form>
    </div>
</body> 
</html>