<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content= "ie=edge">
    </head>
<body>
    <h1>Great!!!!!!!!!!!!!!!</h1>
    <p>Welcome {{request.session.first_name}} {{request.session.last_name}} </p>

    <a href="/logout">logout</a>
</body> 
</html>